/*============= Секция - Футер============== */
.footer-section {
  background-color: var(--hero-footer-color);
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 1px;

  .link {
    color: var(--footer-text-color);

    /*Переходы для эффектов ховера и фокуса*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer-address {
  color: var(--primary-bg-color);
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 8px;
}

.footer-social-links-list .bg-circle {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 231px;
  text-align: center;
}

.footer-list-item {
  margin-bottom: 20px;
}

.footer-list-item-mail {
  padding-bottom: 9px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  color: #ffffff;
}

.footer-social-links-box {
  width: 206px;
  //   margin-left: 70px;
  //   padding-top: 72px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social-links-list {
  display: flex;
  justify-content: space-between;

  .social-icon {
    width: 20px;
    height: 20px;
    fill: var(--body-bg-color);
  }
}

/* Футер форма контактов */
.subscribe-form-box {
  margin-bottom: 60px;
  text-align: center;
}

.footer-button-submit {
  display: flex;
  align-items: center;

  padding: 10px 28px;
  height: 50px;
  width: 200px;

  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border-color: transparent;
  border-image: initial;
  border-width: 0;
  border-style: no-button;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;

  margin-right: auto;
  margin-left: auto;

  /*Переходы для эффектов ховера и фокуса*/
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
}

.icon-send {
  margin-left: 10px;
}

.subscribe-form-box .text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--body-bg-color);
}

.subscribe-form > .email-field {
  box-sizing: border-box;
  width: 450px;
  padding: 15px 16px;
  // margin-right: 12px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;

  outline: none;

  /*Переходы для эффектов ховера и фокуса*/
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

@media (min-width: 768px) {
  .footer-section .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-list {
    margin-right: 165px;
  }

  .footer-social-links-box {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
  }

  .subscribe-form .email-field {
    width: 450px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .footer-section .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .footer-list {
    margin-right: 0;
    padding-left: 0;
    // min-width: 231px;
    text-align: left;
  }

  .footer-list-item-mail {
    padding-bottom: 8px;
  }

  .footer-social-links-box {
    width: 206px;
    margin-left: 70px;
    padding-bottom: 30px;
  }

  .footer-contact-text {
    text-align: left;
  }

  /* Футер форма контактов */
  .subscribe-form-box {
    margin-left: auto;
    padding-top: 72px;
    padding-left: 0;
    padding-bottom: 20px;
    margin-bottom: 60px;
    text-align: left;
  }

  .subscribe-form {
    display: flex;
  }

  .subscribe-form > .email-field {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    margin-bottom: 20px;
  }

  // .footer-section .container {
  //   width: 1200px;
  // }
}
