// Шапка страницы с элементами навигации

.main-nav {
  display: flex;
  align-items: center;
}

.header-section {
  background-color: var(--primary-bg-color);
  margin-bottom: 0;
  border: 1px solid #ececec;
}

.site-navigation {
  display: flex;

  .item + .item {
    margin-left: 50px;
  }

  .link {
    display: block;
    padding-top: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    /*Переходы для эффектов ховера и фокуса*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    .current {
      color: var(--accent-color);
    }
  }
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  .item + .item {
    margin-left: 50px;
  }

  .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    /*Переходы для эффектов ховера и фокуса*/
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;

  .header-contacts .link:hover &,
  .header-contacts .link:focus & {
    fill: var(--accent-color);
  }
}

/* Подчеркивание под текущей вкладкой навигации */
.site-navigation .link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 28px;
}
