.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

// .section-title {
//   color: var(--title-text-color);
// }

// .title {
//   color: var(--title-text-color);
// }
