body {
  margin: 0;

  color: var(--primary-text-color);
  background-color: var(--body-bg-color);

  font-family: 'Roboto', 'apple-system', 'BlinkMacSystemFont', 'avenir next',
    'avenir', 'helvetica neue', 'helvetica', 'Ubuntu', 'noto', 'segoe ui',
    'arial', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}
