/* ============Секция Постоянные клиенты============ */
.clients-section {
  text-align: center;

  .section-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (max-width: 480px) {
  .clients-list {
    display: block;

    li:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    /*Переходы для эффектов ховера и фокуса*/
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:focus {
      border-color: var(--accent-color);
    }
  }
}

.clients-logo-icon {
  display: flex;
  fill: #afb1b8;

  /*Переходы для эффектов ховера и фокуса*/
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  .clients-list .link:focus &,
  .clients-list .link:hover & {
    fill: var(--accent-color);
  }
}

@media (min-width: 768px) {
  .clients-list {
    li:nth-child(n + 3) {
      margin-bottom: 0;
    }

    .link {
      width: 226px;
    }
  }
}

@media (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: space-between;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      border: 1px solid #afb1b8;
      border-radius: 4px;

      /*Переходы для эффектов ховера и фокуса*/
      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;

      &:hover,
      &:focus {
        border-color: var(--accent-color);
      }
    }
  }

  .clients-section .clients-list > li {
    margin-bottom: 0;
  }

  .clients-section .section-title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
