/*=========== Секция - герой========== */
.hero {
  text-align: center;
  text-align: center;

  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-bg-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .button {
    border-radius: 4px;
    border-width: 0;
    border-style: no-button;
    padding: 10px 32px;
    min-width: 200px;

    background-color: var(--accent-color);
    color: var(--primary-bg-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    /*Переходы для эффектов ховера и фокуса*/
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
      background-color: var(--button-accent-color);
    }
  }
}

.hero-container {
  padding-top: 118px;
}

// @media (min-width: 1200px) and (min-device-pixel-ratio: 1),
//   screen and (min-resolution: 96dpi),
//   screen and (min-resolution: 1dppx) {
//   .overlay {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url('../images/background-d@1x.jpg');
//   }
// }

// @media (min-width: 768px) and (min-device-pixel-ratio: 1),
//   screen and (min-resolution: 96dpi),
//   screen and (min-resolution: 1dppx) {
//   .overlay {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url('../images/background-m@1x.jpg');
//   }
// }

// @media (min-width: 768px) and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolution: 2dppx) {
//   .overlay {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url('../images/background-t@2x.jpg');
//   }
// }

.overlay {
  max-width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background-m@1x.jpg');
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/background-m@2x.jpg');
  }
}

@media (min-width: 1200px) {
  .hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .overlay {
    max-width: 1600px;
    height: 100%;
  }
}
